#music-page {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    margin: 0;
    padding: 0;
}

.music-section {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
}

#section-music {
    z-index: 5;
    background: #fff;
    display: grid;
    grid-template-rows: 300px 1fr 60px;
    grid-gap: 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}

#section-lyric {
    overflow-y: auto;
    text-align: center;
}

#section-side {
    background: #888;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
}


.section-div {
    text-align: center;
}


#music-img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0;
}

#music-title {
    font-size: 1.05rem;
    text-align: left;
    padding: 1rem;
    padding-bottom: 0;
    font-weight: 700 !important;
}
#music-singer {
    text-align: left;
    font-size: 0.85rem;
    padding: 1rem;
    padding-top: 0.5rem;
    font-weight: 500 !important;
    color: #666;
}
#music-album {
    
}
#music-date {
    
}
.music-info {
    text-align: left;
    font-size: 0.8rem;
    padding: 0.3rem;
    padding-left: 1rem;
    font-weight: 500 !important;
}


.submit-button {
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem;
    width: 12rem;
    border: 0;
    border-radius: 500px;
    vertical-align: middle;
    background: rgba(140,171,255,1) !important;
    background: -moz-linear-gradient(left, rgba(140,171,255,1) 0%, rgba(166,210,254,1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(140,171,255,1)), color-stop(100%, rgba(166,210,254,1))) !important;
    background: -webkit-linear-gradient(left, rgba(140,171,255,1) 0%, rgba(166,210,254,1) 100%) !important;
    background: -o-linear-gradient(left, rgba(140,171,255,1) 0%, rgba(166,210,254,1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(140,171,255,1) 0%, rgba(166,210,254,1) 100%) !important;
    background: linear-gradient(to right, rgba(140,171,255,1) 0%, rgba(166,210,254,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cabff', endColorstr='#a6d2fe', GradientType=1 ) !important;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}
.fa-arrow-down {
    font-size: 0.8rem;
    margin-top: 0.15rem;
    margin-right: 0.2rem;
}
.back-button {
    font-size: 0.9rem;
    padding: 1.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    border: 0;
    background: #fff;
    border-radius: 500px;
    margin: 0;
    margin-right: 1rem;
    vertical-align: middle;
    background: #fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}






#music-lyric {
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    margin: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;
    border: 0;
    border-radius: 10px;
    text-align: center;
}
#music-lyric pre {
    font-size: 0.9rem;
    line-height: 1.6;
}